input[type=email]{
  width: 40%;
  padding: 12px 20px;

  display: block;
  border: 1px solid white;
  border-bottom:1px solid #ccc;
  box-sizing: border-box;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 2%;
  left: 0px;
  font-family: 'Lato', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  background: rgba(0, 0, 0, 0);
}
input[type=email]:focus{
    border: 1px solid white;
  border-bottom:1px solid black;
  outline: none;
}
.inputhead{
  margin-left: 2%;
  font-family: 'Lato', sans-serif;
}
.submit-btn {
    background-color:#4A148C;
    color: white;
    padding: 14px 20px;

    margin-bottom: 2%;
    border: none;
    cursor: pointer;
    width: 13%;
    margin-left: 2%;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    margin-left: 30%;


}

img.avatar {
    width: 50%;
    margin-top: 7%;


}
.container{
  margin-top: 3%;
}
.loginform{
border-radius: 1em;
margin-left: 30%;
margin-right: 30%;
margin-top: 10%;

}
body{
  background-image: url("../images/gradient_squares.png");
}
.head{
text-align: center;

}
